.register {
  background-image: url(../../../public/assests/images/login/85332.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.register-container {
  width: 80% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 4rem auto 0 !important;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem !important;
}

.register-right {
  flex: 1;
}

.register-right-img {
  width: 100%;
}

.register-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Mirza";
  background-color: rgba(243, 243, 243, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.register-left-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-left-title h5 {
  font-size: 2rem;
  flex-basis: 50%;
}

.register-left-title a {
  flex: 1;
}

.register-left-logo {
  float: left;
  flex-basis: 50%;
  width: 35%;
  display: flex;
}

.register-subtitle {
  color: #da0b4e;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.register-form-email-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.register-form-email-input label,
.register-form-password label {
  font-size: 1.3rem !important;
}

.register-form-email-input input,
.register-form-password input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(210, 214, 215);
  outline: none;
  background-color: rgb(242, 242, 242);
}

.register-form-password {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.register-form-password-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register-form-password-setting a {
  text-decoration: none;
}

.register-form-btn {
  color: #fff;
  font-size: 1.1rem;
  font-family: "Mirza";
}

.register-enter-mood-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}

.register-enter-mood-detail p {
  margin-bottom: 0 !important;
}

.register-enter-mood {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.register-enter-mood-item {
  background-color: rgb(255, 255, 255);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(210, 214, 215);
  cursor: pointer;
  transition: all 400ms ease;
}

.register-enter-mood-item:hover {
  background-color: rgb(210, 214, 215);
}

.register-register {
  margin: 1rem auto;
}

.register-register-title {
  margin-bottom: 0 !important;
}

.register-register-title span a {
  text-decoration: none;
  color: #da0b4e;
  margin-right: 0.5rem;
}

.register-enter-icon {
  font-size: 1.1rem;
  margin-left: 0.3rem;
  transform: rotate(180deg);
}
