.last-articles {
  margin: 0 auto;
  background-color: #f4f8fa !important;
  padding: 80px 0;
}

.last-articles-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.last-articles-header h3 {
  font-family: "Mirza";
  font-size: 1.6rem;
}
