.about-content {
  padding: 80px 0 10px 0;
  margin: 4rem auto 0 !important;
}

.about-right {
  display: flex;
  flex-direction: column;
  font-family: "Mirza";
}

.about-right-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-right-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-right-item-icon {
  font-size: 2rem;
  color: #da0b4e;
}

.about-right-item p {
  margin-bottom: 0.5rem !important;
  font-size: 1.3rem;
  font-weight: bold;
}

.about-right-item h5 {
    font-size: 1rem;
}

.about-left-img {
    width: 90%;
}