.courses-top {
  position: relative;
}

.courses-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8rem;
  top: -10px;
  background-image: linear-gradient(
    to bottom,
    #daabba,
    #e0c0d2,
    #e6d6e5,
    #f0ebf4,
    #ffffff
  );
}

.courses-content {
  padding: 50px 0 10px 0;
  margin: 4rem auto 0 !important;
}

.courses-title {
  font: 2rem "Mirza";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}

.MuiTypography-root {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.MuiTypography-root li a {
  font-family: "Mirza";
}

.courses-sidebar-right {
  border: 2px solid #e6ebf1;
  border-radius: 0.4rem;
  padding: 2rem 1rem;
  width: 90%;
  margin-bottom: 30px;
  position: sticky;
  top: 6rem;
}

.courses-sidebar-searchbar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6ebf1;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
}

.courses-sidebar-searchbar input {
  padding: 0.8rem;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Mirza";
}

.form-sidebar-search-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #c9ced4;
}

.courses-sidebar-right h4 {
  font-family: "Mirza";
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.courses-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.courses-sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.courses-sidebar-item label {
  font-family: "Mirza";
}
.courses-left-filter-text {
  font-family: "Mirza";
  font-size: 1.1rem;
}
.dropdown {
  direction: ltr;
}

.dropdown-toggle {
  font-family: "Mirza" !important;
  font-size: 1.1rem !important;
  background-color: transparent !important;
  color: rgb(112, 111, 111) !important;
}

.dropdown-toggle::after {
  margin-left: 0.5rem !important;
  margin-right: 0 !important;
}

.dropdown-item {
  font-family: "Mirza";
  direction: ltr;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 !important;
}

.Mui-selected {
  background-color: #da0b4e !important;
}

.pagination li button svg {
  transform: rotate(180deg) !important;
}
